{% for item in  var_lc_stock_details.query_result  %}
insert into nse.load_bulk_stock_dates(ticker, start_date, end_date) values( '{{item['ticker']}}', '{{item['start_date']}}', '{{item['end_date']}}');
{% endfor %}
