cd {{app_root}}
id=$(date  "+%Y%m%d_%H%M%S")
ansible-playbook --vault-password-file .pwd {{app_root}}/loadStockPrice.yml -e 'year={{item.name[-4:-0]}}' -e 'id=$id'>>{{directory.logs}}/{{item.name}}.lst 2>&1

