{% for item in   csvdataPage.content.split('\n')  %}
insert into nse.load_stock_price(ticker,price_date,series,open,high,low,prev_close,ltp,close,vwap,high52,low52,volume,value,no_of_trades)values('{{tsymbol}}',{{item|replace("\uFEFF","")|replace('"',"'")}});
{% endfor %}
